/* .app {
  display: flex;
  flex-direction: column;
  height: 660px;
  width: 485px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: auto;
} */

.app {
  height: 100vh;
}